.botones{
    button{
      margin: 10px;
    }
}

.container{
    padding: 20px;
    width: 100%;
    height: 100%;
    justify-items: center;
}

.title-card{
    font-weight: bold;
}

.card{
    margin: 20px;
    border: 2px solid gainsboro;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #00ff8c52;
    width: 255px;
}

.grid{
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
}

.card-ocupado{
    margin: 20px;
    border: 2px solid gainsboro;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ff000052;
    width: 255px;
}

.card-limpieza{
    margin: 20px;
    border: 2px solid gainsboro;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #005bf852;
    width: 255px;
}

.content-card{
    display: grid;
    grid-template-rows: 1fr;
    background: #dcdcdc4a;
    padding: 15px 10px;
    border-radius: 5px;
}


.mesas{
    display: grid;
    grid-template-rows: 1fr; 
}

.informacion-tipo-mesa{
    margin: 13px 0px 0px 10px;
}

.informacion-tipo-mesa :hover{
    background-color: gray;
}

::ng-deep td.ant-descriptions-item-label.ng-star-inserted {
    width: 200px;
}

::ng-deep td.ant-descriptions-item-content.ng-star-inserted {
    width: 200px;
}

::ng-deep nz-form-label.ant-form-item-label.ant-col {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 130px;
}