.login{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;  
  
  .credenciales{
    background: rgba(81, 0, 195, 0.319);
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 10px;
    // border: #3f009b 4px solid;
    // padding: 30px 100px;
    width: 450px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

.credenciales ::ng-deep .ant-form-item-label>label {
  color: white;
  font-weight: bold;
}

::ng-deep .ant-form-item {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

::ng-deep nz-form-control{
  width: 300px;
}