<div class="login">
    <div class="credenciales">
        <form nz-form [formGroup]="validateFormIniciarSesion" 
        id="validateFormIniciarSesion"
        class="form-inicio-sesion">
        <nz-form-item>
            <nz-form-label nzFor="id_usuario">
            Usuario
            </nz-form-label>
            <nz-form-control nzErrorTip="Por favor ingrese su nombre de usuario">
            <input nz-input type="text" name="id_usuario" id="id_usuario" placeholder="Ingresar usuario" formControlName="id_usuario">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>
            Contraseña
            </nz-form-label>
            <nz-form-control nzErrorTip="Por favor ingrese su contraseña">
            <input nz-input type="password" name="contraseña" id="contraseña" placeholder="Ingresar contraseña" formControlName="contrasena">
            </nz-form-control>
        </nz-form-item>
        <br>
        <div style="display: flex; justify-content: center;">
            <button style="margin-right: 15px; width: 135px;"
            nz-button (click)="enviarInicioSesion()"> Iniciar sesión </button>
        </div>
        </form>
    </div>
</div>
  