<div *ngIf="mesaReservada == true && resumenPago == false && dirigirseACaja == false" class="all-cliente">
  <div class="datos-reserva">
    <div class="title-datos-reserva">
      <label>Mesa #{{idMesaParam}}</label>
      <label>Reserva #{{reservaObjectParam?.id_reserva}}</label>
      <label>Cliente #{{clienteObjectParam?.rut_cliente}}</label>
      <label *ngIf="boletaAIngresar != null">Boleta #{{boletaAIngresar?.id_boleta}}</label>      
    </div>
    <div class="btn-reserva">
      <!-- <button nz-button (click)="verMenu()"> Ver menú </button> -->
      <button nz-button (click)="verCarrito()"> Ver carrito </button>
      <!-- <button nz-button nzType="danger" (click)="cerrarSesion()"> Cerrar sesión </button> -->
      <button *ngIf="boletaAIngresar == null" nz-button nzType="danger" (click)="cancelarReserva()"> Cancelar reserva </button>
      <button *ngIf="pedidoEnBoleta != null && boletaAIngresar != null" nz-button (click)="mostrarPedidosEnBoleta()"> Ver boleta </button>
    </div>
  </div>

  <div class="menu">
    <div class="menu-header">
      <h2>Hola {{clienteObjectParam?.nombre_cliente}}! aquí tienes nuestro menú.</h2>
    </div>
    <nz-divider></nz-divider>
    <div class="menu-content">
      <nz-tabset>
        <nz-tab nzTitle="Platos" class="platos-tab">
          <div *ngFor="let plato of listaPlatos; let i = index;">
            <div *ngIf="plato.disponibilidad" class="plato-row">
              <div class="img-plato">
                <img *ngIf="plato.nombre_imagen != undefined" src="http://localhost:8085/restaurantSXXI/imagenes-rxxi/platos/{{plato.nombre_imagen}}" alt="">
                <img *ngIf="plato.nombre_imagen == undefined" src="assets/img-platos/nodisponible.png" alt="">
              </div>
              <div class="plato-disponible">
                <div class="plato-title">
                  <h3 class="plato-name">{{plato.nombre_plato | uppercase}}</h3>
                  <h5 class="plato-tipo">{{plato.nombre_tipo_plato}} |  Recomendado para {{plato.cantidad_personas_recomendadas}} persona(s)</h5>
                  <br>
                </div>
                <div class="plato-content">
                  <h3 style="margin-bottom: 5px">${{plato.precio_plato |  currency:'CLP'}}</h3>
                  <p>{{plato.comentario}}</p>
                </div>
                <div>
                  <nz-select (ngModelChange)="onChangeRecetaSelected($event, plato.id_plato)"
                  style="width: 200px" nzPlaceHolder="Seleccione receta" *ngIf="plato.recetas.length > 0" [ngModel]="undefined"
                  [id]="plato.id_plato">
                    <ng-container *ngFor="let rec of plato.recetas">
                      <nz-option [nzValue]="rec.id_receta" [nzLabel]="rec.titulo_receta"></nz-option>
                    </ng-container>
                  </nz-select>
                  <button nz-button (click)="agregarPlatoAlCarro(plato)" class="agregar-item"> Añadir </button>
                  <button nz-button (click)="verDetallePlato(plato)"> Ver detalle </button>
                </div>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div *ngIf="!plato.disponibilidad" class="plato-row-no-disponible">
              <div class="img-plato">
                <img *ngIf="plato.nombre_imagen != undefined" src="http://localhost:8085/restaurantSXXI/imagenes-rxxi/platos/{{plato.nombre_imagen}}" alt="">
                <img *ngIf="plato.nombre_imagen == undefined" src="assets/img-platos/nodisponible.png" alt="">
              </div>
              <div class="plato-no-disponible">
                <div class="plato-title">
                  <h3 class="plato-name">{{plato.nombre_plato | uppercase}}</h3>
                  <h5 class="plato-tipo">{{plato.nombre_tipo_plato}} | Recomendado para {{plato.cantidad_personas_recomendadas}} persona(s)</h5>
                  <br>
                </div>
                <div class="plato-content">                
                  <h3 style="margin-bottom: 5px">${{plato.precio_plato | currency:'CLP'}}</h3>
                  <p>{{plato.comentario}}</p>
                </div>
                <div>
                  <label for="" style="color: red; font-weight: bold;">ARTÍCULO NO DISPONIBLE</label>
                </div>
              </div>
            </div>
            <nz-divider></nz-divider>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Productos">
          <div *ngFor="let producto of listaProductos; let i = index;">
            <div *ngIf="producto.stock_producto > 0" class="plato-row">
              <div class="img-producto">
                <img *ngIf="producto.nombre_imagen != undefined" src="http://localhost:8085/restaurantSXXI/imagenes-rxxi/productos/{{producto.nombre_imagen}}" alt="">
                <img *ngIf="producto.nombre_imagen == undefined" src="assets/img-platos/nodisponible.png" alt="">
              </div>
              <div class="plato-disponible">
                <div class="plato-title">
                  <h3 class="plato-name">{{producto.nombre_producto | uppercase}}</h3>
                  <h5 class="plato-tipo">{{producto.nombre_tipo_producto}}</h5>
                  <br>
                </div>
                <div class="plato-content">
                  <h3 style="margin: 5px">${{producto.valor_unitario}}</h3>
                  <p>{{producto.comentario}}</p>
                </div>
                <div>
                  <button nz-button (click)="agregarProductoAlCarro(producto)" class="agregar-item"> Añadir </button>
                  <!-- <button nz-button (click)="verDetallePlato(producto)"> Ver detalle </button> -->
                </div>
              </div>
            </div>
            <nz-divider></nz-divider>
            <div *ngIf="!(producto.stock_producto > 0)" class="plato-row-no-disponible">
              <div class="img-producto">
                <img *ngIf="producto.nombre_imagen != undefined" src="http://localhost:8085/restaurantSXXI/imagenes-rxxi/productos/{{producto.nombre_imagen}}" alt="">
                <img *ngIf="producto.nombre_imagen == undefined" src="assets/img-platos/nodisponible.png" alt="">
              </div>
              <div class="plato-no-disponible">
                <div class="plato-title">
                  <h3 class="plato-name">{{producto.nombre_producto | uppercase}}</h3>
                  <h5 class="plato-tipo">{{producto.nombre_tipo_producto}}</h5>
                  <br>
                </div>
                <div class="plato-content">                
                  <h3 style="margin-bottom: 5px">${{producto.valor_unitario}}</h3>
                  <p>{{producto.comentario}}</p>
                </div>
                <div>
                  <label for="" style="color: red; font-weight: bold;">ARTÍCULO NO DISPONIBLE</label>
                </div>
              </div>
            </div>
            <nz-divider></nz-divider>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>

  <!-- DETALLE DEL PLATO -->
  <nz-drawer
    [nzWidth] = "550"
    [nzClosable]="false"
    [nzVisible]="visibleDetallePlato"
    nzPlacement="right"
    nzTitle="Detalle del plato"
    (nzOnClose)="cerrarDrawerDetallePlato()"
    style="background-color: rgba(81, 0, 195, 0.319);"
  >
    <ng-container>
      <div class="all-detalle-plato">
        <div class="img-detalle-plato">
          <img *ngIf="platoSelected?.nombre_imagen != undefined" src="http://localhost:8085/restaurantSXXI/imagenes-rxxi/platos/{{platoSelected.nombre_imagen}}" alt="" style="height: 300px; width: 100%;">
            <img *ngIf="platoSelected?.nombre_imagen == undefined" src="assets/img-platos/nodisponible.png" alt="" style="height: 300px; width: 100%;">
        </div>
        <div class="header-detalle-plato">
          <div class="name-detalle-plato">
            <h3>{{platoSelected?.nombre_plato | uppercase}}</h3>
          </div>
          <div class="desc-detalle-plato">
            <h4>Tipo de plato:
              <h3 style="color: rgb(122, 122, 122)">{{platoSelected?.nombre_tipo_plato}} - {{platoSelected?.descripcion_tipo_plato}}
              </h3>
            </h4>
            <br>
            </div>
            </div>
            <div class="detalles-plato">
              <h4>Descripción del plato:
                <h3 style="color: rgb(122, 122, 122)">{{platoSelected?.descripcion_plato}}</h3>
              </h4>
              <br>
              <h4>Comentario acerca del plato:
                <h3 style="color: rgb(122, 122, 122)">{{platoSelected?.comentario}}</h3>
              </h4>
              <br>
              <h4>Recomendado para:
                <h3 style="color: rgb(122, 122, 122)">{{platoSelected?.cantidad_personas_recomendadas}} persona(s)</h3>
              </h4>
              <br>
              <h4>Valor del plato: $
                <h3 style="color: rgb(122, 122, 122)">{{platoSelected?.precio_plato}}</h3>
              </h4>
        </div>
      </div>
    </ng-container>
  </nz-drawer>

  <!-- VER CARRO DE COMPRAS -->
  <nz-drawer
    [nzWidth] = "700"
    [nzClosable]="true"
    [nzVisible]="visibleCarritoCompras"
    nzPlacement="left"
    nzTitle="Mi pedido"
    (nzOnClose)="cerrarDrawerCarritoCompras()"
    style="background-color: rgba(81, 0, 195, 0.319);"
  >
    <ng-container>
      <div class="all-productos-carrito">
        <div *ngFor="let item of carritoDeCompras; let i = index;">
  
          <!-- ES PLATO -->
          <div *ngIf="item.esPlato" class="carrito-row">
            <div class="img-plato-carrito">
              <img *ngIf="item.plato.nombre_imagen != undefined"
                src="http://localhost:8085/restaurantSXXI/imagenes-rxxi/platos/{{item.plato.nombre_imagen}}" alt=""
                style="width: 100%;">
              <img *ngIf="item.plato.nombre_imagen == undefined" src="assets/img-platos/nodisponible.png" alt=""
                style="width: 100%;">
            </div>
            <div class="plato-carrito">
              <div class="plato-title">
                <h3 class="plato-name">{{item.plato.nombre_plato | uppercase}}</h3>
                <h5 class="plato-tipo">{{item.plato.nombre_tipo_plato}} [PLATO]</h5>
                <br>
              </div>
              <div class="plato-content">
                <h3 style="margin-bottom: 5px">${{item.plato.precio_plato}} (x{{item.cantidad}})</h3>
                <button nz-button (click)="agregarPlatoAlCarro(item.plato)" class="agregar-item"> Añadir </button>
                <button nz-button *ngIf="item.cantidad > 1" (click)="quitarPlatoDelCarro(item)"> Quitar </button>
                <button nz-button *ngIf="item.cantidad == 1" nzType="danger"
                nz-popconfirm
                nzPopconfirmTitle="¿Quieres eliminar este artículo?"
                nzPopconfirmPlacement="top"
                (nzOnConfirm)="quitarPlatoDelCarro(item)"> Eliminar </button>
              </div>
            </div>
          </div>
  
          <!-- ES PRODUCTO -->
          <div *ngIf="item.esProducto" class="carrito-row">
            <div class="img-plato-carrito">
              <img *ngIf="item.producto.nombre_imagen != undefined"
                src="http://localhost:8085/restaurantSXXI/imagenes-rxxi/productos/{{item.producto.nombre_imagen}}" alt=""
                style="width: 100%;">
              <img *ngIf="item.producto.nombre_imagen == undefined" src="assets/img-platos/nodisponible.png" alt=""
                style="width: 100%;">
            </div>
            <div class="plato-carrito">
              <div class="plato-title">
                <h3 class="plato-name">{{item.producto.nombre_producto | uppercase}}</h3>
                <h5 class="plato-tipo">{{item.producto.nombre_tipo_producto}} [PRODUCTO]</h5>
                <br>
              </div>
              <div class="plato-content">
                <h3 style="margin-bottom: 5px">${{item.producto.valor_unitario}} (x{{item.cantidad}})</h3>
                <button nz-button (click)="agregarProductoAlCarro(item.producto)" class="agregar-item"> Añadir </button>
                <button nz-button *ngIf="item.cantidad > 1" (click)="quitarProductoDelCarro(item)"> Quitar </button>
                <button nz-button *ngIf="item.cantidad == 1" nzType="danger"
                nz-popconfirm
                nzPopconfirmTitle="¿Quieres eliminar este artículo?"
                nzPopconfirmPlacement="top"
                (nzOnConfirm)="quitarPlatoDelCarro(item)"> Eliminar </button>
              </div>
            </div>
          </div>
          <nz-divider></nz-divider>
        </div>
      </div>
      <div class="footer-carrito">
        <h2>Subtotal : ${{pedidoAIngresar?.subtotal | currency:'CLP'}}</h2>
        <br>
        <button nz-button 
        nz-popconfirm
        nzPopconfirmTitle="¿Seguro que confirmas tu pedido?"
        nzPopconfirmPlacement="top"
        (nzOnConfirm)="confirmarPedido()"> 
          Confirmar pedido 
        </button>
      </div>
    </ng-container>
  </nz-drawer>

  <!-- VER BOLETA -->
  <nz-drawer
    [nzWidth] = "700"
    [nzClosable]="true"
    [nzVisible]="visibleBoleta"
    nzPlacement="right"
    nzTitle="Mi boleta #{{boletaAIngresar?.id_boleta}}"
    (nzOnClose)="cerrarDrawerVerBoleta()"
    style="background-color: rgba(81, 0, 195, 0.319);"
  >
    <ng-container>
      <div class="all-productos-carrito">
        <div class="pedido-row">
          <nz-collapse nzAccordion>
            <nz-collapse-panel *ngFor="let item of pedidoEnBoleta; let i = index;"
              nzHeader="Pedido #{{item.idPedido}} | ${{item.subtotal | currency:'CLP'}} | Estado: {{item.nombreEstadoInstancia}}">
            <div class="pedido-content-row">
              <div class="pedido-info">
                Fecha de ingreso : {{item.fechaIngreso | date: 'dd/MM/yyyy HH:mm:ss'}} | {{item.nombreEstadoInstancia}}
                <br><br>
                <label for=""> Productos de este pedido: </label>
              </div>
              <div *ngFor="let itemDelCarro of item.carritoProductos; let i = index"
              class="carrito-de-un-pedido">
                <h5 *ngIf="itemDelCarro.esPlato == true">
                  <label for="" class="itemDelCarro-nombre">{{itemDelCarro.plato?.nombre_plato | uppercase}} </label>
                  <label for="" class="itemDelCarro-valor-cantidad">${{itemDelCarro.valorUnitario | currency:'CLP'}} (x{{itemDelCarro.cantidad}})</label>
                </h5>
                <h5 *ngIf="itemDelCarro.esProducto == true">
                  <label for="" class="itemDelCarro-nombre">{{itemDelCarro.producto?.nombre_producto | uppercase}} </label>
                  <label for="" class="itemDelCarro-valor-cantidad">${{itemDelCarro.valorUnitario | currency:'CLP'}} (x{{itemDelCarro.cantidad}})</label>
                </h5>
              </div>
            </div>
            </nz-collapse-panel>
          </nz-collapse>
        </div>
        <nz-divider></nz-divider>
      </div>
      <div class="footer-carrito-boleta">
        <h2>Subtotal : ${{boletaAIngresar?.subtotal | currency:'CLP'}}</h2>
        <br>
        <button nz-button
        *ngIf="puedePagar" 
        nz-popconfirm
        nzPopconfirmTitle="¿Seguro que quieres pagar?"
        nzPopconfirmPlacement="top"
        (nzOnConfirm)="pedirCuenta()">
          Pagar cuenta
        </button>
        <label *ngIf="!puedePagar"style="color: red; font-weight: bold; font-size: 15px"> PARA PAGAR, PRIMERO DEBES RECIBIR TODOS TUS PEDIDOS</label>
      </div>
    </ng-container>
  </nz-drawer>

  <!-- PEDIR Y PAGAR CUENTA -->
  <nz-drawer
    [nzWidth] = "700"
    [nzClosable]="true"
    [nzVisible]="visiblePedirCuenta"
    nzPlacement="left"
    nzTitle="Boleta a pagar #{{boletaAIngresar?.id_boleta}}"
    (nzOnClose)="cerrarDrawerPedirCuenta()"
    style="background-color: rgba(81, 0, 195, 0.319);"
  >
    <ng-container>
      <div class="detalle-boleta">
        <div class="content">
          <nz-descriptions nzTitle="Detalle de boleta" nzBordered>
            <nz-descriptions-item nzTitle="Nro boleta">#{{boletaAIngresar?.id_boleta}}</nz-descriptions-item>

            <nz-descriptions-item nzTitle="Fecha">{{boletaAIngresar?.fechaAtencion}} - {{boletaAIngresar?.horaAtencion}}</nz-descriptions-item>

            <nz-descriptions-item nzTitle="RUT">{{boletaAIngresar?.rutCliente}}</nz-descriptions-item>

            <nz-descriptions-item nzTitle="Subtotal">${{boletaAIngresar?.subtotal | currency : 'CLP'}}</nz-descriptions-item>
          </nz-descriptions>
        </div>
        <br>
        <div>
          <label nz-checkbox [(ngModel)]="propinaEnBoletaAPagar" (ngModelChange)="onChangePropina()">Añadir propina</label>
        </div>
        <br>
        <div>
          <nz-descriptions nzTitle="Total a pagar" nzBordered>
            <nz-descriptions-item nzTitle="Descuentos">
              <label for="" *ngIf="boletaAIngresar?.descuentos > 0">
                ${{boletaAIngresar?.descuentos | currency : 'CLP'}}
              </label>
              <label for="" *ngIf="boletaAIngresar?.descuentos <= 0">
                -
              </label>
            </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Propina">
              <label for="" *ngIf="boletaAIngresar?.extras > 0">
                ${{boletaAIngresar?.extras | currency : 'CLP'}}
              </label>
              <label for="" *ngIf="boletaAIngresar?.extras <= 0">
                -
              </label>
              </nz-descriptions-item>

            <nz-descriptions-item nzTitle="Total">${{boletaAIngresar?.total | currency : 'CLP'}}</nz-descriptions-item>
          </nz-descriptions>
        </div>
        <br>
        <div>
          <h3 style="margin-bottom: 20px; color: rgba(0,0,0,.85); font-weight: 700; font-size: 16px; line-height: 1.5;"> 
            Escoge tu forma de pago 
          </h3>
          <nz-radio-group [(ngModel)]="formaDePago">
            <label nz-radio-button nzValue="1">Efectivo</label>
            <label nz-radio-button nzValue="2">Débito</label>
            <label nz-radio-button nzValue="3">Crédito</label>
          </nz-radio-group>
        </div>
        <div class="forma-de-pago">
          <div *ngIf="formaDePago == '1'" class="content">
            <div class="pago-efectivo">
              <label for="">
                Al presionar el botón de pagar debe dirigirse a la caja a cancelar el valor ${{boletaAIngresar?.total}}
              </label>
            </div>
          </div>
          <div *ngIf="formaDePago == '2' || formaDePago == '3'" class="content">
            <div class="checkout">
              <form nz-form [formGroup]="validateFormPagoTarjeta" id="validateFormPagoTarjeta" [nzLayout]="'inline'">
                <div class="item">
                  <label for="" class="lbl-name"> Nombre del titular</label>
                  <input type="text" nz-input class="ipt-style" placeholder="Juan Pérez" formControlName="nombre_titular">
                </div>
                <div class="item">
                  <label for="" class="lbl-name" > Email </label>
                  <input type="text" nz-input class="ipt-style" placeholder="jperez@gmail.com" formControlName="email">
                </div>
                <div class="item">
                  <label for="" class="lbl-name"> Rut del titular </label>
                  <input type="text" nz-input class="ipt-style" placeholder="11111111-1" formControlName="rut_titular">
                </div>
                <div class="item">
                  <label for="" class="lbl-name"> Número de tarjeta </label>
                  <input type="text" nz-input class="ipt-style" placeholder="1111-2222-3333-4444" formControlName="numero_tarjeta">
                </div>              
                <div class="item">
                  <label for="" class="lbl-name"> Mes expiración </label>
                  <input type="number" min="1" max="12" step="1" placeholder="11" class="picker" onkeydown="return false" formControlName="mes_expiracion"/>
                </div>
                <div class="item">
                  <label for="" class="lbl-name"> Año expiración </label>
                  <input type="number" min="2022" max="2050" step="1" placeholder="2022" class="picker" onkeydown="return false" formControlName="ano_expiracion"/>
                </div>
                <div class="item">
                  <label for="" class="lbl-name"> CVV </label>
                  <input type="text" nz-input class="ipt-style" placeholder="123" maxlength="3" formControlName="cvv">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-carrito-boleta">
        <h2>Total a pagar : ${{boletaAIngresar?.total | currency:'CLP'}}</h2>
        <br>
        <button nz-button
        *ngIf="puedePagar"
        nz-popconfirm
        nzPopconfirmTitle="¿Seguro que quieres pagar la cuenta?"
        nzPopconfirmPlacement="top"
        (nzOnConfirm)="confirmarPago()">
          Pagar
        </button>
      </div>
    </ng-container>
  </nz-drawer>
</div>

<div *ngIf="!mesaReservada">
    <nz-result
      nzTitle="Mesa no tiene reserva"
      nzStatus="error"
      nzSubTitle="Esta mesa se encuentra disponible"
    >    
      <!-- <div nz-result-content>
        <div class="desc">
          <h4 nz-title>The content you submitted has the following error:</h4>
          <p nz-paragraph>
            <span nz-icon nzType="close-circle"></span>
            Your account has been frozen
            <a>Thaw immediately &gt;</a>
          </p>
          <p nz-paragraph>
            <span nz-icon nzType="close-circle"></span>
            Your account is not yet eligible to apply
            <a>Apply immediately &gt;</a>
          </p>
        </div>
      </div>
      <div nz-result-extra>
        <button nz-button nzType="primary">Go Console</button>
        <button nz-button>Buy Again</button>
      </div> -->
    </nz-result>
</div>

<div *ngIf="resumenPago">
  <nz-result
    nzTitle="Resumen del pago"
    nzStatus="success"
    nzSubTitle="Boleta #{{boletaAIngresar?.id_boleta}}"
  >    
    <div nz-result-content>
      <div class="desc">
        <h2 nz-title style="text-align: center;">Detalle de la boleta</h2>
        <div>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="RUT cliente">{{boletaAIngresar?.rutCliente}}</nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="Fecha de atención">{{boletaAIngresar?.fechaAtencion}}</nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="Hora de atención">{{boletaAIngresar?.horaAtencion}}</nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="Hora de emisión de boleta">{{boletaAIngresar?.horaEmision}}</nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="Subtotal">{{boletaAIngresar?.subtotal | currency : 'CLP'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Descuentos">{{boletaAIngresar?.descuentos | currency : 'CLP'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Propina">{{boletaAIngresar?.extras | currency : 'CLP'}}</nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="Total a pagar">{{boletaAIngresar?.total | currency : 'CLP'}}</nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>
    </div>
    <div nz-result-extra>
      <button nz-button nzType="danger">Cerrar</button>
    </div>
  </nz-result>
</div>

<div *ngIf="dirigirseACaja">
  <nz-result
    nzTitle="Resumen de la compra"
    nzStatus="success"
    nzSubTitle="Boleta #{{boletaAIngresar?.id_boleta}}"
  >    
    <div nz-result-content>
      <div class="desc">
        <h2 nz-title style="text-align: center;">Finalice su compra pagando en caja ${{boletaAIngresar?.total | currency : 'CLP'}}</h2>
        <div>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="RUT cliente">{{boletaAIngresar?.rutCliente}}</nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="Fecha de atención">{{boletaAIngresar?.fechaAtencion}}</nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="Hora de atención">{{boletaAIngresar?.horaAtencion}}</nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="Hora de emisión de boleta">{{boletaAIngresar?.horaEmision}}</nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="Subtotal">{{boletaAIngresar?.subtotal | currency : 'CLP'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Descuentos">{{boletaAIngresar?.descuentos | currency : 'CLP'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Propina">{{boletaAIngresar?.extras | currency : 'CLP'}}</nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions nzBordered>
            <nz-descriptions-item nzTitle="Total a pagar">{{boletaAIngresar?.total | currency : 'CLP'}}</nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>
    </div>
    <div nz-result-extra>
      <button nz-button nzType="danger">Cerrar</button>
    </div>
  </nz-result>
</div>