.title-card{
    font-weight: bold;
}
.card{
    margin: 20px;
    border: 2px solid gainsboro;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #00ff8c52;
    width: 255px;
}
.grid{
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
}

.card-no-disponible{
    margin: 20px;
    border: 2px solid gainsboro;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ff000052;
    width: 255px;
}
.platos{
    display: grid;
    grid-template-rows: 1fr; 
}