<div>
    <h1>Menú</h1>
    <div class="grid">   
        <div *ngFor="let unPlato of listaPlatos" class="platos">
            <div class="card" *ngIf="unPlato.disponibilidad">
                <div class="title-card">
                    Plato nro. {{unPlato.id_plato}} 
                </div>
                <div class="content-card">
                    Nombre de plato: {{unPlato.nombre_plato}}
                    <br>
                    Recomendado para {{unPlato.cantidad_personas_recomendadas}} persona(s)
                    <br>
                    Precio: ${{unPlato.precio_plato}}
                </div>
            </div>
            <div class="card-no-disponible" *ngIf="!unPlato.disponibilidad">
                <div class="title-card">
                    Plato nro. {{unPlato.id_plato}} 
                </div>
                <div class="content-card">
                    Nombre de plato: {{unPlato.nombre_plato}}
                    <br>
                    Recomendado para {{unPlato.cantidad_personas_recomendadas}} persona(s)
                    <br>
                    Precio: ${{unPlato.precio_plato}}
                </div>
            </div>
        </div>
    </div>
</div>