<div class="all-bodega" *ngIf="rolUsuarioLogeado == 2 || rolUsuarioLogeado == 1">
    <div class="datos-sesion">
        <div class="title-datos-sesion">
            <label>MÓDULO BODEGA </label>
        </div>
        <div class="btn-reserva">
            <!-- <button nz-button (click)="crearPlato()"> Crear plato </button> -->
            <button nz-button nzType="danger" (click)="cerrarSesion()"> Cerrar sesión </button>
        </div>
    </div>
    
    <div class="menu">
      <div class="menu-header">
        <h2>Buzón de entrada</h2>
      </div>
      <div>
        CONTENIDO
      </div>

      <div class="menu-header">
        <h2>Solicitudes de reabastecimiento</h2>
      </div>
      <div>
        CONTENIDO
      </div>

      <div class="menu-header">
        <h2>Solicitudes de cocina</h2>
      </div>
      <div>
        CONTENIDO
      </div>

      <div class="menu-header">
        <h2>Inventario</h2>
      </div>
      <div>
        <nz-table nzShowPagination="true" [nzData]="listaProductos" [nzPageSize]="listaProductos.length">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Stock</th>
            <th>Fecha ingreso</th>
            <th>Fecha vencimiento</th>
          </tr>
          <tr *ngFor="let prod of listaProductos " class="mesa-row" (click)="seleccionarProducto(prod)"
            [ngStyle]="{'background-color': prod.id_producto === productoSelected?.id_producto ? 'rgba(81, 0, 195, 0.319)' : ''}">
            <td>{{prod.id_producto}}</td>
            <td>{{prod.nombre_producto}}</td>
            <td>{{prod.nombre_tipo_producto}}</td>
            <td>{{prod.stock_producto}}</td>
            <td>{{prod.fecha_ingreso_producto}}</td>
            <td>{{prod.fecha_vencimiento}}</td>
          </tr>
        </nz-table>
      </div>
    </div>
</div>

<div *ngIf="rolUsuarioLogeado != 2 && rolUsuarioLogeado != 1">
    <nz-result
      nzTitle="No posees los permisos necesarios"
      nzStatus="403"
      nzSubTitle="No puedes acceder a esta pestaña"
    >    
      <!-- <div nz-result-content>
        <div class="desc">
          <h4 nz-title>The content you submitted has the following error:</h4>
          <p nz-paragraph>
            <span nz-icon nzType="close-circle"></span>
            Your account has been frozen
            <a>Thaw immediately &gt;</a>
          </p>
          <p nz-paragraph>
            <span nz-icon nzType="close-circle"></span>
            Your account is not yet eligible to apply
            <a>Apply immediately &gt;</a>
          </p>
        </div>
      </div>
      <div nz-result-extra>
        <button nz-button nzType="primary">Go Console</button>
        <button nz-button>Buy Again</button>
      </div> -->
    </nz-result>
  </div>