<div class="all-bodega" *ngIf="rolUsuarioLogeado == 2 || rolUsuarioLogeado == 1">
    <div class="datos-sesion">
        <div class="title-datos-sesion">
            <label>MÓDULO BODEGA </label>
        </div>
        <div class="btn-reserva">
            <!-- <button nz-button (click)="crearPlato()"> Crear plato </button> -->
            <button nz-button nzType="danger" (click)="cerrarSesion()"> Cerrar sesión </button>
        </div>
    </div>
    <div class="menu">
        <div class="menu-header">
            <h2>Inventario</h2>
        </div>
    </div>
</div>

<div *ngIf="rolUsuarioLogeado != 2 && rolUsuarioLogeado != 1">
    <nz-result
      nzTitle="No posees los permisos necesarios"
      nzStatus="403"
      nzSubTitle="No puedes acceder a esta pestaña"
    >    
      <!-- <div nz-result-content>
        <div class="desc">
          <h4 nz-title>The content you submitted has the following error:</h4>
          <p nz-paragraph>
            <span nz-icon nzType="close-circle"></span>
            Your account has been frozen
            <a>Thaw immediately &gt;</a>
          </p>
          <p nz-paragraph>
            <span nz-icon nzType="close-circle"></span>
            Your account is not yet eligible to apply
            <a>Apply immediately &gt;</a>
          </p>
        </div>
      </div>
      <div nz-result-extra>
        <button nz-button nzType="primary">Go Console</button>
        <button nz-button>Buy Again</button>
      </div> -->
    </nz-result>
  </div>