<div class="all-bodega" *ngIf="rolUsuarioLogeado == 2 || rolUsuarioLogeado == 1">
    <div class="datos-sesion">
        <div class="title-datos-sesion">
            <label>MÓDULO BODEGA </label>
        </div>
        <div class="btn-reserva">
            <!-- <button nz-button (click)="crearPlato()"> Crear plato </button> -->
            <button nz-button nzType="danger" (click)="cerrarSesion()"> Cerrar sesión </button>
        </div>
    </div>
    
    <div class="menu">
      <div class="menu-header">
        <h2>Buzón de entrada</h2>
      </div>
      <div>
        <div class="pedidos-row" *ngIf="buzonEntrada?.length > 0"
          style="height: 300px">
          <div *ngFor="let bzE of buzonEntrada">
            <nz-card style="width:300px; margin: 0px 2px; margin-bottom: 10px;" nzTitle="Registro #{{bzE.registro.id_registro}}">
              <div>
                <div style="text-align: center;">
                  <label for="" *ngIf="bzE.esAprobado" style="font-weight: bold; color: rgba(81, 0, 195, 0.733); font-size: large; "> Solicitud aprobada </label>
                  <label for="" *ngIf="bzE.esRechazo" style="font-weight: bold; color: red; font-size: large; ">Solicitud rechazada</label>
                </div>
                <nz-divider style="margin:10px 0px"></nz-divider>
                <label for=""> Título: {{bzE.registro.titulo_registro}}</label>
                <br>
                <label for=""> Creado por: {{bzE.registro.id_usuario}}</label>
                <br>
                <label for=""> Fecha: {{bzE.registro.fecha_instancia | date: 'dd/MM/yyyy HH:mm:ss'}}</label>
        
              </div>
              <br>
              <div class="botones-pedidos">
                <button nz-button (click)="verDetalleRegistroEnBuzon(bzE)" style="width: 100%;">
                  Ver detalle de la solicitud
                </button>
              </div>
            </nz-card>
          </div>
        </div>
        <div class="pedidos-row sin-pedidos" *ngIf="buzonEntrada?.length == 0">
          No hay registros en el buzón.
        </div>
      </div>

      <div class="menu-header">
        <h2>Solicitudes de reabastecimiento</h2>
      </div>
      <div>
        <div class="pedidos-row" *ngIf="listaRegistrosRecepcionSolicitudReabastecimiento?.length > 0">
          <div *ngFor="let reg of listaRegistrosRecepcionSolicitudReabastecimiento">
            <nz-card style="width:300px; margin: 0px 2px; margin-bottom: 10px;" nzTitle="Registro #{{reg.id_registro}}">
              <div>
                <label for=""> Título: {{reg.titulo_registro}}</label>
                <br>
                <label for=""> Creado por: {{reg.id_usuario}}</label>
                <br>
                <label for=""> Fecha: {{reg.fecha_instancia | date: 'dd/MM/yyyy HH:mm:ss'}}</label>

              </div>
              <br>
              <div class="botones-pedidos">
                <button nz-button (click)="verDetalleRegistro(reg)" style="width: 100%;">
                  Ver detalle de la solicitud
                </button>
              </div>
            </nz-card>
          </div>
        </div>
        <div class="pedidos-row sin-pedidos" *ngIf="listaRegistrosRecepcionSolicitudReabastecimiento?.length == 0">
          No hay solicitudes de reabastecimiento pendientes en este momento.
        </div>
      </div>

      <div class="menu-header">
        <h2>Solicitudes de cocina</h2>
      </div>
      <div>
        CONTENIDO
      </div>

      <div class="menu-header">
        <h2>Inventario</h2>
      </div>
      <div>
        <nz-table nzShowPagination="true" [nzData]="listaProductos" [nzPageSize]="listaProductos.length">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Stock</th>
            <th>Fecha ingreso</th>
            <th>Fecha vencimiento</th>
          </tr>
          <tr *ngFor="let prod of listaProductos " class="mesa-row" (click)="seleccionarProducto(prod)"
            [ngStyle]="{'background-color': prod.id_producto === productoSelected?.id_producto ? 'rgba(81, 0, 195, 0.319)' : ''}">
            <td>{{prod.id_producto}}</td>
            <td>{{prod.nombre_producto}}</td>
            <td>{{prod.nombre_tipo_producto}}</td>
            <td>{{prod.stock_producto}}</td>
            <td>{{prod.fecha_ingreso_producto}}</td>
            <td>{{prod.fecha_vencimiento}}</td>
          </tr>
        </nz-table>
      </div>
    </div>

    <!-- VER DETALLE SOLICITUD REABASTECIMIENTO -->
    <nz-drawer [nzWidth]="700" [nzClosable]="true" [nzVisible]="isVisibleDetalleRegistro" nzPlacement="right"
      nzTitle="Detalle de la solicitud" (nzOnClose)="cerrarDrawerDetalleSolicitudReabastecimiento()"
      style="background-color: rgba(81, 0, 195, 0.319);">
      <ng-container>
        <div>
          {{registroRecepcionSolicitudReabastecimiento?.id_registro}}
          {{registroRecepcionSolicitudReabastecimiento?.reporte.nombre_creacion}}

          <iframe [src]="linkSolicitudReabastecimiento | safe" 
          style="height: 700px; width: 100%;"></iframe>

          <div>
            <button nz-button> Aprobar solicitud </button>
          </div>
        </div>
      </ng-container>
    </nz-drawer>

    <!-- VER DETALLE SOLICITUD REABASTECIMIENTO EN BUZÓN -->
    <nz-drawer [nzWidth]="700" [nzClosable]="true" [nzVisible]="isVisibleRegistroBuzon" nzPlacement="right"
      nzTitle="Detalle de la solicitud" (nzOnClose)="cerrarDrawerDetalleSolicitudReabastecimiento()"
      style="background-color: rgba(81, 0, 195, 0.319);">
      <ng-container>
        <div>
          {{registroRecepcionSolicitudReabastecimiento?.id_registro}}
          {{registroRecepcionSolicitudReabastecimiento?.reporte.nombre_creacion}}

          <iframe [src]="linkSolicitudReabastecimiento | safe" 
          style="height: 700px; width: 100%;"></iframe>

          <div>
            <!-- <button nz-button> Aprobar solicitud </button> -->
          </div>
        </div>
      </ng-container>
    </nz-drawer>
</div>

<div *ngIf="rolUsuarioLogeado != 2 && rolUsuarioLogeado != 1">
    <nz-result
      nzTitle="No posees los permisos necesarios"
      nzStatus="403"
      nzSubTitle="No puedes acceder a esta pestaña"
    >    
      <!-- <div nz-result-content>
        <div class="desc">
          <h4 nz-title>The content you submitted has the following error:</h4>
          <p nz-paragraph>
            <span nz-icon nzType="close-circle"></span>
            Your account has been frozen
            <a>Thaw immediately &gt;</a>
          </p>
          <p nz-paragraph>
            <span nz-icon nzType="close-circle"></span>
            Your account is not yet eligible to apply
            <a>Apply immediately &gt;</a>
          </p>
        </div>
      </div>
      <div nz-result-extra>
        <button nz-button nzType="primary">Go Console</button>
        <button nz-button>Buy Again</button>
      </div> -->
    </nz-result>
  </div>