table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.crear-usuario{
  form label{
    display: flex;
    width: 120px;
  }
  form input {
    display: flex;
    margin-bottom: 5px;
  }
}

.botones{
  button{
    margin: 10px;
  }
}

::ng-deep nz-form-label{
  width: 130px;
}  

::ng-deep nz-form-control{
  width: 230px;
}

.all-administrador{
  background-color: rgb(228, 228, 228);
  width: 100%;
  height: fit-content;
  min-height: 100%;
}

.datos-sesion{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 40px);
  padding: 16px 20px 100px;
  background-color: rgba(81, 0, 195, 0.319);
  border-radius: 0px 0px 20px 20px;
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin: 0px 20px;
  
  label{
      margin: 0px 10px;
  }

  .btn-reserva{
      button{ 
          margin: 0px 10px;
      }
  }

  .title-datos-sesion{
      margin-bottom: 10px;
  }
}

.menu{
  background-color: white;
  position: relative;
  top: -80px;
  width: calc(100% - 100px);
  height: fit-content;
  left: 50px;
  border-radius: 20px 20px 0px 0px;
  padding: 16px 20px;
}

.grid{
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  display: grid;
}

.funcionalidades{
  display: grid;
  grid-template-rows: 1fr; 
}

.card{
  margin: 20px;
  border: 2px solid gainsboro;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(81, 0, 195, 0.319);
  height: 100px;

  h3{
    color: white;
    text-align: center;
  }
}

.card:hover{
  transition: .5s;
  background-color: rgba(81, 0, 195, 0.683)
}

.mesa-row:hover{
  background-color: rgba(81, 0, 195, 0.319);
}

.botones-listado-mesas{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 30px;
    margin: 0px 0px 20px;

    span{
        margin: 0px 10px;
        padding: 10px;
        background-color: rgba(81, 0, 195, 0.319);
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    span:hover{
        background-color: rgba(81, 0, 195, 0.683);
    }
}

.botones-modificar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 30px;
  margin: 10px 0px;

  span{
      margin: 0px 10px;
      padding: 10px;
      background-color: rgba(81, 0, 195, 0.319);
      border-radius: 50px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  span:hover{
      background-color: rgba(81, 0, 195, 0.683);
  }
}

/* subir imagen */
.file-select {
  position: relative;
  display: inline-block;
}

.file-select:hover{
  background-color: rgba(81, 0, 195, 0.657);
  border-radius: 3px;
}

.file-select::before {
  background-color: rgba(81, 0, 195, 0.434);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar';
  /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

#src-file1::before {
  content: 'Seleccionar imagen';
}

::ng-deep nz-form-control.nz-control-crear-producto{
  width: calc(100% - 150px);
}

::ng-deep nz-form-label.nz-label-crear-producto{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
}

::ng-deep .advanced-pie-legend-wrapper {
  display: grid !important;
}

