table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .crear-usuario{
    form label{
      display: flex;
      width: 120px;
    }
    form input {
      display: flex;
      margin-bottom: 5px;
    }
  }

  .botones{
    button{
      margin: 10px;
    }
  }

  // ::ng-deep nz-form-label{
  //   width: 130px;
  // }  

  // ::ng-deep nz-form-control{
  //   width: 230px;
  // }   


  //Login
.login{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;  
  
  .credenciales{
    background: #5000c3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #3f009b 4px solid;
    padding: 30px 100px;
  }
}

::ng-deep .ant-form-item-label>label {
  color: white;
  font-weight: bold;
}

::ng-deep .ant-form-item {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

::ng-deep nz-form-control{
  width: 300px;
}