.botones{
    button{
      margin: 10px;
    }
  }

  .title-card{
    font-weight: bold;
}

.botones-modificar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 30px;
    margin: 10px 0px;

    span{
        margin: 0px 10px;
        padding: 10px;
        background-color: rgba(81, 0, 195, 0.319);
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    span:hover{
        background-color: rgba(81, 0, 195, 0.683);
    }
}


.card{
    margin: 20px;
    border: 2px solid gainsboro;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #00ff8c52;
    width: 255px;
}
.grid{
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
}

.card-no-disponible{
    margin: 20px;
    border: 2px solid gainsboro;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ff000052;
    width: 255px;
}
.platos{
    display: grid;
    grid-template-rows: 1fr; 
}

.datos-sesion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 16px 20px 100px;
    background-color: rgba(81, 0, 195, 0.319);
    border-radius: 0px 0px 20px 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin: 0px 20px;
    
    label{
        margin: 0px 10px;
    }

    .btn-reserva{
        button{ 
            margin: 0px 10px;
        }
    }

    .title-datos-sesion{
        margin-bottom: 10px;
    }
}

::ng-deep .ant-btn:focus, .ant-btn:hover {
    color: white;
    background-color: rgba(81, 0, 195, 0.247);
    border-color: rgba(81, 0, 195, 0.644);
}

.menu{
    background-color: white;
    position: relative;
    top: -80px;
    width: calc(100% - 100px);
    height: fit-content;
    left: 50px;
    border-radius: 20px 20px 0px 0px;
    padding: 16px 20px;
}

.plato-row{
    background-color: white;
    display: flex;
    transition: background-color .5s;
    height: 180px;
}

.plato-row:hover {
    background-color: rgba(81, 0, 195, 0.319);
}

.plato-disponible {
    padding: 16px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plato-no-disponible{
    padding: 16px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plato-row-no-disponible{
    background-color: #dcdcdcaf;
    display: flex;
    cursor: not-allowed;
    transition: background-color .5s;
    height: 180px;
}

.plato-row-no-disponible:hover{
    background-color: #b3b3b3;
}

.plato-title{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    h3, h5{
        margin-bottom: 0;
    }
}

.plato-tipo{
    margin-left: 10px;
    font-style: italic;
}

.all-detalle-plato{
    // padding: 20px;
}

.modificar-content-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.all-cocina{
    background-color: rgb(228, 228, 228);
    width: 100%;
    height: fit-content;
    min-height: 100%;
}

.header-detalle-plato{
    margin: 16px 0px;
}

.img-plato{
    img{
        max-width: 160px;
        height: -webkit-fill-available;
        padding: 20px 0 20px 20px;
        object-fit: cover;
        object-position: center;
        min-width: 160px;
    }
}

.img-producto{
    img{
        max-width: 160px;
        min-width: 160px;
        height: -webkit-fill-available;
        padding: 20px 0 20px 20px;
        object-fit: cover;
        object-position: center;
    }
}

.img-detalle-plato{
    height: 300px;
    width: 100%;
    
    img{
        object-fit: cover;
        object-position: center;
    }
}

::ng-deep.ant-divider-horizontal{
    margin: 0;
}

::ng-deep .ant-tabs-ink-bar {
    background-color: rgb(81, 0, 195);
}

::ng-deep.ant-tabs-nav .ant-tabs-tab-active {
    color: rgb(81, 0, 195);
    font-weight: 500;
}

::ng-deep .ant-tabs-nav .ant-tabs-tab:hover {
    color: rgba(81, 0, 195, 0.644);
}

.pedidos-row{
    display: flex;
    overflow-x: scroll;
    height: 270px;
}

.sin-pedidos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    color: gray;
}

::ng-deep .ant-card-head{
    background-color: rgba(81, 0, 195, 0.319);
    color: white;
    font-weight: bold;
}

.agregar-item{
    margin: 0px 10px 0px 0px;
    background-color: rgba(81, 0, 195, 0.319);
    transition: 0.5s;
}

.agregar-item:hover{
    color: rgb(81, 0, 195) !important;
    background-color: white !important;
}

.botones-pedidos{
    button{
        margin: 2px 0px;
    }
}

/* subir imagen */
.file-select {
    position: relative;
    display: inline-block;
}

.file-select:hover{
    background-color: rgba(81, 0, 195, 0.657);
    border-radius: 3px;
}

.file-select::before {
    background-color: rgba(81, 0, 195, 0.434);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar';
    /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}

#src-file1::before {
    content: 'Seleccionar imagen';
}

::ng-deep nz-form-control.nz-control-modificar-plato{
    width: calc(100% - 150px);
}

::ng-deep nz-form-label.nz-label-modificar-plato{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}

::ng-deep nz-form-control.nz-control-crear-producto{
    width: calc(100% - 150px);
}

::ng-deep nz-form-label.nz-label-crear-producto{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}

::ng-deep nz-form-control.nz-control-modificar-producto{
    width: calc(100% - 150px);
}

::ng-deep nz-form-label.nz-label-modificar-producto{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}


::ng-deep nz-form-control.nz-control-crear-productos-receta{
    width: calc(100% - 100px);
}

::ng-deep nz-form-label.nz-label-crear-productos-receta{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
}

