<div class="all-finanzas" *ngIf="rolUsuarioLogeado == 5 || rolUsuarioLogeado == 1 ">
    <div *ngIf="!resumenPago">
        <div class="datos-sesion">
            <div class="title-datos-sesion">
                <label>MÓDULO FINANZAS </label>
            </div>
            <div class="btn-reserva">
                <!-- <button nz-button (click)="crearPlato()"> Crear plato </button> -->
                <button nz-button nzType="danger" (click)="cerrarSesion()"> Cerrar sesión </button>
            </div>
        </div>
        <div class="menu">
            <div class="menu-header">
                <h2>Pagos en caja</h2>
            </div>
            <div>
                <div class="pedidos-row" *ngIf="boletasPorPagarEnCaja.length > 0">
                    <div *ngFor="let boleta of boletasPorPagarEnCaja">
                        <nz-card style="width:300px; margin: 0px 2px; margin-bottom: 10px;"
                            nzTitle="Boleta #{{boleta.id_boleta}}">
                            <div>
                                <label for=""> RUT cliente: {{boleta.id_cliente}}</label>
                                <br>
                                <label for=""> Fecha de atención: {{boleta.fecha_atencion}}</label>
                                <br>
                                <label for=""> Hora: {{boleta.hora_atencion}}</label>
                                <br>
                                <label for=""> Total a pagar: ${{boleta.total | currency: 'CLP'}}</label>
                            </div>
                            <br>
                            <div class="botones-pedidos">
                                <button nz-button (click)="abrirCaja(boleta)" style="width: 100%;">
                                    Abrir caja
                                </button>
                            </div>
                        </nz-card>
                    </div>
                </div>
                <div class="pedidos-row sin-pedidos" *ngIf="boletasPorPagarEnCaja.length == 0">
                    No hay boletas a pagar en caja.
                </div>
            </div>
            <br>
            <div class="menu-header">
                <h2>Evaluar solicitudes de reabastecimiento</h2>
            </div>
            <div>
                <div class="pedidos-row" *ngIf="listaRegistrosRecepcionSolicitudReabastecimientoFinanzas?.length > 0">
                  <div *ngFor="let reg of listaRegistrosRecepcionSolicitudReabastecimientoFinanzas">
                    <div *ngIf="reg.ultima_version" class="ultima-version">
                        <nz-card style="width:300px; margin: 0px 2px; margin-bottom: 10px;" nzTitle="Registro #{{reg.id_registro}}">
                          <div>
                            <label for=""> Título: {{reg.titulo_registro}}</label>
                            <br>
                            <label for=""> Creado por: {{reg.id_usuario}}</label>
                            <br>
                            <label for=""> Fecha: {{reg.fecha_instancia | date: 'dd/MM/yyyy HH:mm:ss'}}</label>
            
                          </div>
                          <br>
                          <div class="botones-pedidos">
                            <button nz-button (click)="verDetalleRegistro(reg)" style="width: 100%;">
                              Ver detalle de la solicitud
                            </button>
                          </div>
                        </nz-card>
                    </div>
                    <!-- <div *ngIf="!reg.ultima_version" class="no-ultima-version">
                        <nz-card style="width:300px; margin: 0px 2px; margin-bottom: 10px; background-color: rgba(228, 228, 228, 0.493);" nzTitle="Registro #{{reg.id_registro}}">
                          <div>
                            <label for=""> Título: {{reg.titulo_registro}}</label>
                            <br>
                            <label for=""> Creado por: {{reg.id_usuario}}</label>
                            <br>
                            <label for=""> Fecha: {{reg.fecha_instancia | date: 'dd/MM/yyyy HH:mm:ss'}}</label>
            
                          </div>
                          <br>
                          <div class="botones-pedidos">
                            <button nz-button (click)="verDetalleRegistroNoUltimaVersion(reg)" style="width: 100%;">
                              Ver detalle de la solicitud
                            </button>
                          </div>
                        </nz-card>
                    </div> -->
                  </div>
                </div>
                <div class="pedidos-row sin-pedidos" *ngIf="listaRegistrosRecepcionSolicitudReabastecimientoFinanzas?.length == 0">
                  No hay solicitudes de reabastecimiento pendientes en este momento.
                </div>
            </div>
            <br>
            <div class="menu-header">
                <h2>Pago de reabastecimiento</h2>
            </div>
            <div>
                <div class="pedidos-row" *ngIf="listPagosReabastecimiento.length > 0">
                    <div *ngFor="let b of listPagosReabastecimiento">
                        <nz-card style="width:300px; margin: 0px 2px; margin-bottom: 10px;"
                            nzTitle="Boleta #{{b.boleta.id_boleta}}">
                            <div>
                                <h3 *ngIf="b.esPago1" style="color: mediumorchid; font-weight: bold; text-align: center">Primer pago</h3>
                                <h3 *ngIf="b.esPago2" style="color: mediumturquoise; font-weight: bold; text-align: center">Segundo pago</h3>
                                <nz-divider style="margin: 10px 0px;"></nz-divider>
                                <label for=""> Fecha de atención: {{b.boleta.fecha_atencion}}</label>
                                <br>
                                <label for=""> Hora: {{b.boleta.hora_atencion}}</label>
                                <br>
                                <label for=""> Total a pagar: ${{b.boleta.total | currency: 'CLP'}}</label>
                            </div>
                            <br>
                            <div class="botones-pedidos">
                                <button nz-button style="width: 100%;" (click)="abrirCaja(b.boleta)">
                                    Abrir caja
                                </button>
                            </div>
                        </nz-card>
                    </div>
                </div>
                <div class="pedidos-row sin-pedidos" *ngIf="listPagosReabastecimiento.length == 0">
                    No hay pagos de reabastecimiento
                </div>
            </div>
        </div>
        
        <!-- ABRIR CAJA PARA RECIBIR PAGO EN EFECTIVO -->
        <nz-modal [(nzVisible)]="isVisibleAbrirCaja" nzTitle="Caja" (nzOnCancel)="cancelarAbrirCaja()" (nzOnOk)="okAbrirCaja()">
            <ng-container>
                <div>
                    <h4>Total a pagar: ${{boletaAPagarSelected?.total}}</h4>
                </div>
                <br>
                <div>
                    <h4 nz-title>Pedidos de esta boleta: </h4>
                    <nz-collapse nzAccordion>
                        <nz-collapse-panel *ngFor="let item of pedidoEnBoleta; let i = index;"
                            nzHeader="Pedido #{{item.idPedido}} | ${{item.subtotal | currency:'CLP'}}">
                            <div class="pedido-content-row">
                                <div class="pedido-info">
                                    Fecha de ingreso : {{item.fechaIngreso | date: 'dd/MM/yyyy HH:mm:ss'}} |
                                    {{item.nombreEstadoInstancia}}
                                    <br><br>
                                    <h4 nz-title> Productos de este pedido: </h4>
                                </div>
                                <div *ngFor="let itemDelCarro of item.carritoProductos; let i = index"
                                    class="carrito-de-un-pedido">
                                    <h5 *ngIf="itemDelCarro.esPlato == true">
                                        <label for="" class="itemDelCarro-nombre">{{itemDelCarro.plato?.nombre_plato |
                                            uppercase}} </label>
                                        <label for="" class="itemDelCarro-valor-cantidad">${{itemDelCarro.valorUnitario |
                                            currency:'CLP'}} (x{{itemDelCarro.cantidad}})</label>
                                    </h5>
                                    <h5 *ngIf="itemDelCarro.esProducto == true">
                                        <label for="" class="itemDelCarro-nombre">{{itemDelCarro.producto?.nombre_producto |
                                            uppercase}} </label>
                                        <label for="" class="itemDelCarro-valor-cantidad">${{itemDelCarro.valorUnitario |
                                            currency:'CLP'}} (x{{itemDelCarro.cantidad}})</label>
                                    </h5>
                                </div>
                            </div>
                        </nz-collapse-panel>
                    </nz-collapse>
                </div>
                <br>
                <div>
                    <h4 nz-title>Ingresar pago en efectivo</h4>
                    <div>
                        <input type="number" nz-input placeholder="Paga con..." [(ngModel)]="dineroConElQuePago"
                            (ngModelChange)="onChangeDineroPago()">
                        <br>
                        <h4 nz-title>Total a pagar: ${{boletaAPagarSelected?.total | currency : 'CLP'}}</h4>
                        <h4 nz-title>Por pagar: ${{dineroPorPagar | currency : 'CLP'}}</h4>
                        <h4 nz-title>Vuelto: ${{vueltoAEntregar | currency : 'CLP'}}</h4>
                    </div>
                </div>
            </ng-container>
        </nz-modal>

        <!-- CONFIRMAR ENTREGA DE VUELTO -->
        <nz-modal [(nzVisible)]="isVisibleEntregarVuelto" nzTitle="Entregar vuelto" (nzOnCancel)="cancelarEntregarVuelto()" (nzOnOk)="okEntregarVuelto()">
            <ng-container>
                <h4 nz-title> Confirmo que he entregado el vuelto ${{vueltoAEntregar | currency : 'CLP'}} correctamente</h4>
            </ng-container>
        </nz-modal>

        <!-- VER DETALLE SOLICITUD REABASTECIMIENTO -->
        <nz-drawer [nzWidth]="700" [nzClosable]="true" [nzVisible]="isVisibleDetalleRegistro" nzPlacement="right"
            nzTitle="Detalle de la solicitud" (nzOnClose)="cerrarDrawerDetalleSolicitudReabastecimiento()"
            style="background-color: rgba(81, 0, 195, 0.319);">
            <ng-container>
                <div>
                    {{registroRecepcionSolicitudReabastecimiento?.id_registro}}
                    {{registroRecepcionSolicitudReabastecimiento?.reporte.nombre_creacion}}
        
                    <iframe [src]="linkSolicitudReabastecimiento | safe" style="height: 700px; width: 100%;"></iframe>
        
                    <div style="text-align: center;">
                        <button nz-button 
                        nz-popconfirm
                        nzPopconfirmTitle="¿Seguro que quieres aprobar la solicitud?" nzPopconfirmPlacement="top"
                        (nzOnConfirm)="okAprobarSolicitud(registroRecepcionSolicitudReabastecimiento)">
                            Aprobar solicitud 
                        </button>
                        <button nz-button nzType="danger"
                        nz-popconfirm
                        nzPopconfirmTitle="¿Seguro que quieres rechazar la solicitud?" nzPopconfirmPlacement="top"
                        (nzOnConfirm)="rechazarSolicitud(registroRecepcionSolicitudReabastecimiento)">
                            Rechazar solicitud 
                        </button>
                    </div>
                </div>
            </ng-container>
        </nz-drawer>

        <!-- VER DETALLE SOLICITUD REABASTECIMIENTO NO ES ULTIMA VERSION-->
        <nz-drawer [nzWidth]="700" [nzClosable]="true" [nzVisible]="isVisibleDetalleRegistroNoUltimaVersion" nzPlacement="right"
        nzTitle="Detalle de la solicitud" (nzOnClose)="cerrarDrawerDetalleSolicitudReabastecimiento()"
        style="background-color: rgba(81, 0, 195, 0.319);">
        <ng-container>
        <div>
            {{registroRecepcionSolicitudReabastecimiento?.id_registro}}
            {{registroRecepcionSolicitudReabastecimiento?.reporte.nombre_creacion}}

            <iframe [src]="linkSolicitudReabastecimiento | safe" style="height: 700px; width: 100%;"></iframe>

            <!-- <div style="text-align: center;">
                <button nz-button 
                nz-popconfirm
                nzPopconfirmTitle="¿Seguro que quieres aprobar la solicitud?" nzPopconfirmPlacement="top"
                (nzOnConfirm)="okAprobarSolicitud(registroRecepcionSolicitudReabastecimiento)">
                    Aprobar solicitud 
                </button>
                <button nz-button nzType="danger"
                nz-popconfirm
                nzPopconfirmTitle="¿Seguro que quieres rechazar la solicitud?" nzPopconfirmPlacement="top"
                (nzOnConfirm)="rechazarSolicitud(registroRecepcionSolicitudReabastecimiento)">
                    Rechazar solicitud 
                </button>
            </div> -->
        </div>
        </ng-container>
        </nz-drawer>

        <!-- ENVIAR PRESUPUESTO AJUSTADO -->
        <nz-drawer [nzWidth]="700" [nzClosable]="true" [nzVisible]="isVisibleEnviarPresupuestoAjustado" nzPlacement="left"
        nzTitle="Ajustar presupuesto" (nzOnClose)="cancelarEnviarPresupuestoAjustado()"
        style="background-color: rgba(81, 0, 195, 0.319);">
            <ng-container>
                <div>
                    <h3 nz-title> Título: {{registroRecepcionSolicitudReabastecimiento?.titulo_registro}} </h3>
                    <h5 nz-title> Creado por:{{registroRecepcionSolicitudReabastecimiento?.id_usuario}} </h5>
                    <h5 nz-title> Fecha: {{registroRecepcionSolicitudReabastecimiento?.fecha_instancia}} </h5>
                </div>
                <nz-divider></nz-divider>
                <div>
                    <div>
                        <nz-select nzPlaceHolder="Elegir producto" [(ngModel)]="productoSelected" style="width: 200px;" (ngModelChange)="activarBtn()" nzShowSearch nzAllowClear>
                            <ng-container *ngFor="let pr of listaProductos">
                                <nz-option [nzValue]="pr" [nzLabel]="pr.nombre_producto"></nz-option>
                            </ng-container>
                        </nz-select>
                        <button *ngIf="!addProd" nz-button disabled>Añadir producto</button>
                        <button *ngIf="addProd" (click)="addFila()" nzType="primary" nz-button>Añadir producto</button>
                    </div>
                    <br>
                    <div>
                        <table>
                            <tr>
                                <!-- <th>#</th> -->
                                <!-- <th>ID</th> -->
                                <th>Nombre</th>
                                <th>Medida</th>
                                <th>Stock ideal</th>
                                <th>Stock actual</th>
                                <th>%S.R.I.</th>
                                <th>Valor unitario</th>
                                <th>Cant. comprar</th>
                                <th>Valor X cantidad</th>
                                <th>Acción</th>
                            </tr>
    
                            <tr *ngFor="let row of listModificarReabastecimiento; let i = index;" class="mesa-row">
                                <!-- <td>{{i+1}}</td> -->
                                <!-- <td>{{row[0]}}</td> -->
                                <td>{{row[1]}}</td>
                                <td>{{row[2]}}</td>
                                <td>{{row[3]}}</td>
                                <td>{{row[4]}}</td>
                                <td>{{row[5]}}</td>
                                <td>{{row[6]}}</td>
                                <td> <!--cant comprar -->
                                    <input nz-input [ngModel]="undefined" (ngModelChange)="onChangeCantidadComprar($event, row)"/>
                                </td>  
                                <td>${{row[8]}}</td> <!--valor x cantidad -->
                                <td>
                                    <a (click)="eliminarFila(row)">Eliminar</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <div>
                        <button *ngIf="listModificarReabastecimiento.length > 0 && puedeEnviarSolicitudModificada" nz-button nz-popconfirm
                        nzPopconfirmTitle="¿Seguro que quieres enviar la solicitud?" nzPopconfirmPlacement="top"
                        (nzOnConfirm)="enviarSolicitudModificada()">
                            Enviar solicitud modificada
                        </button>
                        <button *ngIf="listModificarReabastecimiento.length <= 0 || !puedeEnviarSolicitudModificada" nz-button disabled>
                            Enviar solicitud modificada
                        </button>
                    </div>
                </div>
            </ng-container>
        </nz-drawer>
    </div>

    <div *ngIf="resumenPago">
        <nz-result nzTitle="Resumen del pago" nzStatus="success" nzSubTitle="Boleta #{{boletaAPagarSelected?.id_boleta}}">
            <div nz-result-content>
                <div class="desc">
                    <h2 nz-title style="text-align: center;">Detalle de la boleta</h2>
                    <div>
                        <nz-descriptions nzBordered>
                            <nz-descriptions-item nzTitle="RUT cliente">{{boletaAPagarSelected?.rutCliente}}
                            </nz-descriptions-item>
                        </nz-descriptions>
                        <nz-descriptions nzBordered>
                            <nz-descriptions-item nzTitle="Fecha de atención">{{boletaAPagarSelected?.fechaAtencion}}
                            </nz-descriptions-item>
                        </nz-descriptions>
                        <nz-descriptions nzBordered>
                            <nz-descriptions-item nzTitle="Hora de atención">{{boletaAPagarSelected?.horaAtencion}}
                            </nz-descriptions-item>
                        </nz-descriptions>
                        <nz-descriptions nzBordered>
                            <nz-descriptions-item nzTitle="Hora de emisión de boleta">{{boletaAPagarSelected?.horaEmision}}
                            </nz-descriptions-item>
                        </nz-descriptions>
                        <nz-descriptions nzBordered>
                            <nz-descriptions-item nzTitle="Subtotal">{{boletaAPagarSelected?.subtotal | currency : 'CLP'}}
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Descuentos">{{boletaAPagarSelected?.descuentos | currency :
                                'CLP'}}</nz-descriptions-item>
                            <nz-descriptions-item nzTitle="Propina">{{boletaAPagarSelected?.extras | currency : 'CLP'}}
                            </nz-descriptions-item>
                        </nz-descriptions>
                        <nz-descriptions nzBordered>
                            <nz-descriptions-item nzTitle="Total a pagar">{{boletaAPagarSelected?.total | currency : 'CLP'}}
                            </nz-descriptions-item>
                        </nz-descriptions>
                    </div>
                </div>
            </div>
            <div nz-result-extra>
                <button nz-button nzType="danger" (click)="cerrarResumenPago()">Cerrar</button>
            </div>
        </nz-result>
    </div>
</div>

<div *ngIf="rolUsuarioLogeado != 5 && rolUsuarioLogeado != 1">
    <nz-result
      nzTitle="No posees los permisos necesarios"
      nzStatus="403"
      nzSubTitle="No puedes acceder a esta pestaña"
    >    
      <!-- <div nz-result-content>
        <div class="desc">
          <h4 nz-title>The content you submitted has the following error:</h4>
          <p nz-paragraph>
            <span nz-icon nzType="close-circle"></span>
            Your account has been frozen
            <a>Thaw immediately &gt;</a>
          </p>
          <p nz-paragraph>
            <span nz-icon nzType="close-circle"></span>
            Your account is not yet eligible to apply
            <a>Apply immediately &gt;</a>
          </p>
        </div>
      </div>
      <div nz-result-extra>
        <button nz-button nzType="primary">Go Console</button>
        <button nz-button>Buy Again</button>
      </div> -->
    </nz-result>
  </div>